/* colors to be used (taken from Catppuccin Frappé): 

background: #303446
partext: #c6d0f5
font candidates: (must be Open Font)
    - Geist Pixel
    - Commissioner */


.commissioner-main {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "FLAR" 0,
    "VOLM" 0;
}